/****************************** Navbar *****************************/

.navbar-brand .logo {
    /*width: 100%;*/
    height: auto;
    max-width: 179px;
    max-height: 50px;
    margin-top: -11px;
}

.intro-header {
/*    padding-top: 50px;  If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! 
    padding-bottom: 50px;
    text-align: center; */
    color: #083868;
    background: url(../img/bg.jpg) no-repeat center center;
    /*background-size: cover;*/
}

.navbar .topnav { padding: 10px; }

.navbar-default { background-color: #ffffff; }